header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 15px;
  height: 50px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;

  h1 {
    font-size: 18px;
    line-height: 20px;
  }

  .btn_basket {
    padding: 0 10px 0 35px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    background: url(../../assets/img/icon_cart.png) no-repeat left 8px center;
    background-size: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;

    &:hover {
      text-decoration: underline;
    }
  }
}
